<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section style='font-family: Montserrat, Arial; padding: 50px;'>
<section class='container' style='box-shadow: 0px 10px 20px 5px grey;border-radius: 10px;'>
	<section class='header' style='
		background: #f0f0f0;
		padding: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;'>
		<h1 style='text-align: center'>
			<img src='https://image.ibb.co/jaoNyc/ab38aebc_cc2b_4337_92da_14a9a7aa9130.png' height=100>
		</h1>
	</section>
	<section style='padding: 50px; background: #fff'>
		Hello {{user_name}},<br/><br/>
		Greetings from <b>twitter_handler</b>. Your account has been created and your verification code is <br/><br/>
		<p class='verification-code' style='text-align: center;'>
			<span style='padding: 10px;color: #2e6cba;border-radius: 5px;background: #f0f0f0'><code>{{verification_code}}</code></span>
			<br/><br/>
		</p>
		Please do not share this code with anyone and use this code to authenticate your account. If you still face some issue then reach the admin.<br/><br/>
		Regards,<br/>
		<b>Team test</b><br/><br/>
	</section>
	<section class='footer' style='
		background: #2e6cba;
		padding: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		color: #fff;
		text-align: center;'>
		<p>
			&copy;2018
		</p>
	</section>
</section>
</section>