<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section style='font-family: Montserrat, Arial; padding: 50px;'>
<section class='container' style='box-shadow: 0px 10px 20px 5px grey;border-radius: 10px;'>
	<section class='header' style='
		background: #f0f0f0;
		padding: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;'>
		<h1 style='text-align: center'>
			<img src='https://image.ibb.co/jaoNyc/ab38aebc_cc2b_4337_92da_14a9a7aa9130.png' height=100>
		</h1>
	</section>
	<section style='padding: 50px; background: #fff'>
		Hello {{user_name}},<br/><br/>
		You have requested to change your password. Your code to validate password change request is<br/><br/><br/>
		<p class='verification-code' style='text-align: center;'>
			<span style='padding: 10px;color: #2e6cba;border-radius: 5px;background: #f0f0f0'><code>{{verification_code}}</code></span>
			<br/><br/>
		</p>
		Please enter this code along with the new password in the app to reset your password. The code will expire in 10 minutes.<br/><br/>
		<b style='color: red;font-size: 12px'>Please do not share this code with anyone. If you did not initiate the password change request, please ignore this email."</b><br/><br/>
		Regards,<br/>
		<b>Team twitter_handler</b><br/><br/>
	</section>
	<section class='footer' style='
		background: #2e6cba;
		padding: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		color: #fff;
		text-align: center;'>
		<p>
			&copy;2018
		</p>
	</section>
</section>
</section>